<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Hyejin, <br>nice to meet you!</h2>
      <p class="subtitle subtitle--light">I’m a product designer with 5 years of experience.
      </p>
      <p>
      안녕하세요. 찾아와주셔서 감사해요. <br> 디자인을 하며 치열하게 생각하고 고민한 흔적과 결정의 이유들이 흩어지는 게 아쉬워 블로그에 남기고 있습니다. 다양한 피드백과 의견을 환영합니다. ☺️<br>pdf 포트폴리오 확인을 원하신다면 아래로 연락주세요!
      </p>

      {% comment %} <p>My skills include product design, interactive design, prototyping, mobile design,
        branding, front-end development and team leadership. I’m interested in clean aesthetics, minimalism, unusual
        typography, photography and simplistic UX solutions.</p> {% endcomment %}

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>