// - - - - - - - - - - - - - - - - - -

// Structure

// - - - - - - - - - - - - - - - - - -

.page,
.page__content {
  width: 100%;
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1080px;
}

.grid {
  display: grid;
  grid-gap: 30px;

  &__2-col {
    @extend .grid;
    grid-template-columns: 1fr; // Default to 1 column

    @include mq(tabletp) {
      grid-template-columns: repeat(2, minmax(200px, 1fr)); // 2 columns with min and max widths
    }
  }

  &__3-col {
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq(tabletp) {
    grid-gap: 30px;
  }
}

.locked {
  overflow: hidden;
}
